Task 1:
Find the largest and smallest number in a list

In [4]:
numbers=[120,130,400,300,156,30,500]
smalestNumber=min(numbers)
largestNumber=max(numbers)
print("smallest number in the list is: ",smalestNumber)
print("largest number in the list is: ",largestNumber)

smallest number in the list is:  30
largest number in the list is:  500

Task 2:
Reverse a list without using the reverse() method

In [8]:
list=[1,2,3,4,5]
print("original list",list)
reverse_list=[]
for i in list:
   reverse_list.insert(0,i)
print("reverse list",reverse_list)

original list [1, 2, 3, 4, 5]
reverse list [5, 4, 3, 2, 1]

Task 3:
Swap the values of two tuples

In [19]:
tupple_1=('Apple','Banana','orange')
tupple_2=('Goat','Sheep','Camal')
print("Tupple_one =",tupple_1)
print("Tupple_ Two =",tupple_2)

print('\n-----------------After swaping-------------------------\n')

temp=tupple_1
tupple_1=tupple_2
tupple_2=temp

print("Tupple_one =",tupple_1)
print("Tupple_ Two =",tupple_2)

Tupple_one = ('Apple', 'Banana', 'orange')
Tupple_ Two = ('Goat', 'Sheep', 'Camal')

-----------------After swaping-------------------------

Tupple_one = ('Goat', 'Sheep', 'Camal')
Tupple_ Two = ('Apple', 'Banana', 'orange')

Task 4:
Check if a given element exists in a tuple

In [26]:
tupple=("zeeshan","Ahsan","Imran","rizwan")
name=input("please enter a number")
if name in tupple:
    print('yes exist')
else:
    print('sorry not exist')

yes exist

Task 5:
Count the frequency of each word in a sentence using a
dictionary

In [38]:
sentence=input('please enter a sentence')
sentence=sentence.lower()
words=sentence.split()

words_frequency={}
for word in words:
    if word in words_frequency:
        words_frequency[word] +=1
    else:
        words_frequency[word]=1
# print(words_frequency)

for key,value in words_frequency.items():
    print(key,":", value)

a : 1
g : 1
h : 1

Task 6:
Merge two dictionaries into one

In [40]:
dict_1={"name":"zeeshan","age":27}
dict_2={"education":"MA","maritalStatus":"married"}
dict_1.update(dict_2)
print(dict_1)

{'name': 'zeeshan', 'age': 27, 'education': 'MA', 'maritalStatus': 'married'}